html {
    scroll-behavior: smooth;
}

section {
    border-bottom: 10px solid #00492C;
    box-shadow: 0 10px 30px rgba(0, 73, 44, 0.5);
    padding: 60px 0px;
    min-height: 100vh;
    box-sizing: border-box;
}

footer {
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
    height: inherit;
}

nav {
    background-color: #BB9F60;
    display: flex;
    justify-content: flex-end;
    align-items: right;
}

h2 {
    font-size: 60px;
    color: #00492C;
    font-weight: 600;
    padding: 0px 60px;
    margin-bottom: 30px;
}

h3 {
    color: #00492C;
    font-size: 50px;
    font-weight: 900;
    border-bottom: 4px solid #94772C;
    display: inline-block;
    position: relative;
    padding: 0px 100px 40px;
}

.heading-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h4 {
    font-size: 20px;
    font-weight: 500;
}

h5 {
    margin-top: 10px;
    font-weight: 100;
}

button a {
    color: #ebe8d8;
    text-decoration: none;
}

.secondary-btn {
    display: flex;
    background-color: #00492C;
    border: none;
    color: #ebe8d8;
    padding: 10px 33px;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

.nav-links {
    flex: 1;
    text-align: right;
    padding: 5px 30px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
}

#banner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url('./images/page1sqoosh.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 30px;
}



#banner .content-wrapper * {
    margin: 5px 0px;
}

#banner .img-div {
    width: 15%;
    height: auto;
}

#banner p {
    font-size: 35px;
    font-style: italic;
    color: #eceadb;
    margin: 0px;
}

#banner h1 {
    font-size: 80px;
    color: #eceadb;
    font-weight: 100;
    margin: 0px;
}

#banner .btn-div {
    margin-top: 20px;
}

#banner .btn-div button {
    background-color: #94782C;
    border: none;
    color: #ebe8d8;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
}

nav .fa-solid {
    display: none;
}

@media(max-width:920px) {
    #banner {
        min-height: 80vh;
    }

    #banner .img-div {
        width: 40%;
        height: auto;
    }

    .nav-links {
        flex: 1;
        padding: 10px 30px;
    }

    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 0px 0px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .nav-links ul li a {
        color: white;
        text-decoration: none;
        font-size: 10px;
        font-weight: 600;
    }

    .nav-links ul {
        display: flex;
        justify-content: space-around;
    }
}



@media(max-width:920px) {
    #for-us .ul-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        padding-left: 50px;
    }
}

/* 3ta stranica */

#for-us-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#for-us-more .ul-button-container {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 90px;
}

#for-us-more>.ul-button-container>ul>li {
    color: #00492C;
    font-size: 25px;
    padding: 5px 0px;
}

#for-us-more img {
    flex: 1;
}

#for-us-more .ul-button-container button {
    position: absolute;
    bottom: 90px;
    left: 90px;
}

@media(max-width:920px) {
    #for-us-more img {
        display: none;
    }
}

/* 4ta stranica */

.row {
    margin-top: 15vh;
    display: flex;
    justify-content: space-evenly;
}

.col {
    width: 15%;
}

.col .img-container {
    position: relative;
}

.col .text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00492C;
    color: #eceadb;
    padding: 20px;

}

.col p {
    color: #00492C;
    font-size: 15px;
    font-weight: 400;
    padding: 20px 0px 20px 0px;
}

@media (max-width: 920px) {
    #team {
        flex-direction: column;
        display: flex;
        justify-content: space-evenly;
    }

    .row {
        align-items: center;
        margin-top: 5vh;
        flex-direction: column;
    }

    .col {
        width: 30%;
        margin-bottom: 20px;
    }

    .col .text-container {
        position: static;
        padding: 10px;
    }

    .col p {
        font-size: 12px;
        padding: 10px 0;
    }
}

/* stranica 5 */

#real-estate-redirect {
    display: flex;
    background-image: url('./images/page55.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px 90px;
}

.spacer .apartament-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    font-weight: 100;
    font-size: 80px;
}

.spacer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#real-estate-redirect .spacer .apartament-banner {
    padding: 0px 0px;
    margin-bottom: 20px;
}

#real-estate-redirect .spacer button {
    display: flex;
    background-color: #94782C;
    border: none;
    color: #ebe8d8;
    padding: 10px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 35px 2px;
    cursor: pointer;
}


/* stranica 5 */

#client-reviews {
    text-align: center;
}

.recommendations {
    color: #00492C;
    font-size: 50px;
    font-weight: 900;
    border-bottom: 4px solid #94772C;
    display: inline-block;
    position: relative;
    padding-bottom: 40px;
}

/* stranica 6 */
#client-reviews {
    text-align: center;
    padding: 15vh 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    flex-wrap: wrap;
}

.row-review {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

.col-review .img-container {
    width: 20%;
    padding-top: 60px;
}

.col-review {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    width: 22%;
    background-color: #C1D0BD;
    margin: 0px 20px;
    padding: 0px 20px;
}

.review-content h4 {
    margin: 50px 10px;
    font-weight: 600;
    text-align: left;
    color: #00492C;
}

.review-content p {
    color: #00492C;
}

@media (max-width: 920px) {

    #client-reviews {
        padding: 10vh 20px;
    }

    .row-review {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .col-review {
        width: 60%;
        height: auto;
        margin: 20px 0;
    }

    .col-review .img-container {
        width: 40%;
        padding-top: 30px;
    }

    .review-content h4 {
        margin: 30px 10px;
        font-size: 18px;
    }

    .review-content p {
        font-size: 14px;
    }
}

/* stranica 7 */

#contacts {
    display: flex;
    justify-content: space-between;
    padding: 30px 90px;
    background-image: url('./images/page7.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#contacts .img-div {
    width: 15%;
    height: auto;
    order: 1;
}

.contact-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    order: 2;
    width: 50%;
    padding-top: 40px;
}

.contact-heading h3 {
    color: #FFFFFF;
    padding: 0px 40px 40px;
}

#contacts .img-div img {
    height: auto;
    order: 1;
}

.contact-info {
    display: flex;
    height: 60%;
}

.contact-info ul {
    list-style: none;
}

.contact-info li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.contact-info a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.contact-info a:hover {
    color: #BB9F60;
}

@media (max-width: 920px) {

    #contacts {
        flex-direction: column;
        align-items: center;
        background: #00492C;
    }

    .contact-heading {
        width: 90%;
        padding-top: 20px;
        order: 1;
    }

    #contacts .img-div {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        order: 1;
    }


    .contact-heading h3 {
        padding: 0px 10px 20px;
    }

    .contact-info {
        flex-direction: column;
        /* width: 80%; */
    }

    .contact-info li {
        align-items: flex-start;
        margin-bottom: 0px;
    }

    .contact-info img {
        width: 45px;
        height: 45px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .contact-info a {
        font-size: 20px;
        margin-bottom: 15px;
    }

    #banner p {
        font-size: 25px;
    }

}

@media (max-width: 420px) {

    h2 {
        color: #00492C;
        font-size: 30px;
        font-weight: 900;
        border-bottom: 2px solid #94772C;
        text-align: center;
        width: 38%;
    }

    h3 {
        font-size: 30px;
        padding: 40px 40px;
    }

    #banner {
        padding: 15px 20px;
        background-image: url('images/1.png');
        box-sizing: border-box;
        border: none;
        box-shadow: none;
        /*  tva mu smenyame stoinostite */
    }

    #banner h1 {
        font-size: 40px;
    }

    #banner .content-wrapper * {
        margin: 10px 0px;
    }

    #banner .btn-div {
        margin-top: 40px;
    }

    .nav-links {
        padding: 10px 0px;
    }

    .nav-links {
        text-align: -webkit-center;
    }

    /* 2ra stranica  */

    #for-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #for-us .content-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .img-div {
        width: 80%;
        padding-bottom: 30px;
    }


    #for-us .ul-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
    }

    .secondary-btn {
        margin: 30px 50px;

    }

    #for-us .ul-container>ul>li {
        color: #00492C;
        width: inherit;
        font-size: 19px;
        padding: 5px 0px;
    }

    .spacer {
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .spacer .apartament-banner {
        border:none;
        font-size: 35px;
        width: unset;
        text-align: unset;
    }

    .recommendations {
        color: #00492C;
        font-size: 22px;
        font-weight: 900;
        border-bottom: 4px solid #94772C;
        display: inline-block;
        position: relative;
        padding-bottom: 40px;
    }

    #contacts .img-div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        order: 1;
    }

    .contact-info {
        flex-direction: column;
    }

    #real-estate-redirect {
        padding: 30px 40px;
        /*smenyame mu paddinga za da se centrira */
    }

    .contact-info img {
        width: 40px;
        height: 40px;
        margin-right: 0;
    }

    .contact-info a {
        font-size: 15px;
        margin-bottom: 15px;
    }

    #for-us-more>.ul-button-container>ul>li {
        font-size: 19px;
    }

    #for-us-more {
        display: none;
        justify-content: space-between;
        align-items: baseline;
        position: relative;
    }

    #for-us-more .ul-button-container button {
        bottom: 140px;
        left: 70px;
    }
}

/* @media(max-width: 375px) {

/* 



    .contact-heading {
        display: contents;
    }

    .contact-info ul {
        margin-top: 25px
    }
} */

@media(min-width: 1200px) {
    #for-us .ul-container>ul>li {
        color: #00492C;
        width: inherit;
        font-size: 20px;
        padding: 5px 0px;
    }

    .contact-heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        order: 2;
        width: 35%;
        padding-top: 40px;
    }
}